extends layout

block append title
  title=page.title

block content
  .container.wrapper
    h2.heading Get Involved With BabySteps!
    
    h6.heading Follow us on social media!
    
    .row.socialmedia
      a(href=page.metadata.social_media_facebook, target="_blank")
        .socialmediaicon.facebook
          i.icon-facebook-squared
          div Facebook
      a(href=page.metadata.social_media_twitter, target="_blank")
        .socialmediaicon.twitter
          i.icon-twitter
          div Twitter
    hr
    
    h6.heading Contribute to Our Indiegogo Campaign! We are going to the HULT Challenge Regionals of 2015
    
    .row.indiegogo.heading
      a.button(href=page.metadata.indiegogo, target="_blank") Take me to Indiegogo
    
    hr
      
    h6.heading Interested in helping us change the world? Contact us!

    form(action=page.metadata.email, method="POST")
      .row
        .six.columns
          label(for='name') Name
          input#name.u-full-width(name="name", type="text", placeholder='Bruce Wayne', required='')
        .six.columns
          label(for='email') Email
          input#email.u-full-width(name='_replyto', type='email', placeholder='bwayne@batcave.com', required='')
        label(for='message') Message
        textarea#message.u-full-width(name="message", placeholder='Hello BabySteps!' required='')
        input.button-primary(type='submit', value='Submit')
